
// Fonts
$fontA: 'Montserrat', sans-serif;
$fontB: 'Poppins', sans-serif;

//Colors
$cyan:#4CB8B3;
$pink: #F53756;
$yellow: #fdda00;
$purple: #752F97;
$black: #121212;
$white: #f0f3f3;

//Media Query
$phone:480px;
$tablet:768px;
$desktop:1200px;
$desktopXl:1400px;


